body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
  touch-action: none;
}

.main-div {
  background-color: white;
  height: 370px;
  margin-top: 20%;
  position: relative;
  width: 600px;
  padding-left: 16px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5PX;
  user-select: none;
}

.main-div h2 {
  font-size: 24px;
  font-weight: normal;
}

.main-div label {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 20px;
}

.main-div input {
  width: 276px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
}

.main-div p {
  position: absolute;
  margin-top: -16px;
  left: 48%;
  transform: translate(10px, -50%);
  background-color: #e74c3c;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.main-div p::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent #e74c3c transparent transparent;
}

.main-div button {
  width: 284px;
  height: 40px;
  border: none;
  color: white;
  font-size: 20px;
  margin-top: 38px;
  background-color: rgb(63, 111, 200);
  align-items: end;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  margin-bottom: 14PX;
}

.main-div button:hover {
  background-color: rgb(77, 130, 228);
}

.main-div button:active {
  background-color: rgb(77, 130, 228);
}

@media (max-width:768px) {
  body {
    width: 85px;
    height: 600px;
    display: flex;
    touch-action: none;
  }

  .main-div {
    width: 250px;
    justify-content: center;
    align-items: center;
    height: 450px;
    border: 1px solid #ccc;
    left: 47%;
  }

  .main-div h2 {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
  }

  .main-div label {
    font-size: 20px;
  }

  .main-div input {
    width: 230px;
    margin-bottom: 20px;
    height: 30px;
  }

  .main-div p {
    margin-top: -6px;
    font-size: 12px;
    margin-left: -115px;
  }

  .main-div button {
    margin-left: 2px;
    margin-bottom: 20px;
    width: 230px;
    height: 50px;
  }
}